body {
    background-color: #74c5ff;
}

h1 {
    text-align: center;
}


footer {
    font-size: 10px;
    font-style: italic;
}

img {
    max-width: 80px;
}

.faker {
    min-height: 112px;
    background-image: url(img/zrtFaker.png);
    background-repeat: repeat-x;
}

.win {
    text-align: center;
    font-weight: bolder;
    color: green;
    font-size: 84px;
}

audio {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
}

.generation {
    border: 2px black solid;
    max-width: 50%;
    margin-bottom: 10px;
}

.validation {
    float: right;
    width: 50%;
    height: 90%;
}

.listeDeMap{
    display: flex;
    border: 3px black solid;
}

.mapProposee{
    margin: auto;
    border: 1px black solid;
}