body {
    background-image:url(img/Background.jpg) ;
}

h1 {
    text-align: center;
}


footer {
    position:absolute;
    bottom : 0px;
    text-align: center;
    font-size: 10px;
    font-style: italic;
}

img {
    max-width: 50px;
}



.win {
    text-align: center;
    font-weight: bolder;
    background-color: darkred;
    border-radius:150px ;
    color:ivory;
    padding-top: 10%;
    padding-bottom:10%;
    font-size: 84px;
    margin-left: 30%;
    margin-right: 20%;
    display: inline-block;
}

audio {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
}

.generation {
    background-color: darkred;
    border: 1px black solid;
    max-width: 50%;
    margin: 50px 37% auto 37%;
    display: inline-block;
    border-radius: 20px
}

.validation {
    float: right;
    width: 50%;
    height: 90%;
}

.listeDeMap{
    display: flex;
    border: 3px black solid;
}

.mapProposee{
    margin: auto;
    border: 1px black solid;
}
table{
    border: 1px black solid;
    margin: auto auto auto auto;
    background-color: darkred;
    position: relative;
    border-radius:20px;
}
